.blocks_container {
  margin: 40px 0;

  @include mq('tablet', min) {
    display: flex;
    justify-content: space-between;
  }

  .block {
    border-radius: 10px;
    box-shadow: 0 0 20px rgba($blue, 0.2);
    padding: 30px 20px;
    width: 100%;

    @include mq('tablet', min) {
      width: calc(33.3% - 15px);
    }
    
    .heading {
      text-align: center;
    }

    select {
      width: 100%;
      min-height: 30px;
      margin: 20px 0;
    }

    ul {
      list-style: none;

      li {
        margin: 10px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        img {
          max-width: 40px;
          border-radius: 40px;;
        }
      }
    }

    .more {
      .load_more {
        width: 100%;
        min-height: 30px;
        background: $yellow;
        border: 0;
        padding: 0;
        color: $blue;
        font-size: 16px;
        cursor: pointer;

        &:hover {
          color: #fff;
          background: $blue;
        }
      }
    }
  }
}

.dark-mode {
  .blocks_container {
    .block {
      background: #fff;

      .heading {
        color: $black;
      }

      p, ul, select {
        color: #333;
      }

      .more {
        .load_more {
          background: $blue;
          color: #fff;
        }
      }
    }
  }
}
