// import font
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

// media query mixin
// useage: mq('desktop') { code.. }
// min is used as default
$breakpoints: (
    "phone":        400px,
    "phone-wide":   480px,
    "phablet":      560px,
    "tablet-small": 640px,
    "tablet":       768px,
    "tablet-wide":  1024px,
    "desktop":      1248px,
    "desktop-wide": 1440px,
    "wide":         1600px
);
@mixin mq($width, $type: min) {
    @if map_has_key($breakpoints, $width) {
        $width: map_get($breakpoints, $width);
        @if $type == max {
            $width: $width - 1px;
        }
        @media only screen and (#{$type}-width: $width) {
            @content;
        }
    }
}

// variables
$black: hsl(0, 0%, 20%);
$blue: hsl(209, 100%, 32%);
$yellow: hsl(41, 100%, 49%);

// misc
.hidden {
  display: none;
}

.visible {
  display: block;
}

.modal_header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  img {
    max-width: 20px;
    cursor: pointer;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

body.light-mode {
  background-color: #fff;
  color: #333;
  transition: background-color 0.3s ease;
}

body.dark-mode {
  background-color: #333;
  // color: #dfdfdf;

  .settings {
    svg {
      fill: #fff;
    }
  }
}

.dark-mode-toggle {
  display: flex;
  margin: 0 auto;
  justify-content: center;

  & > button {
    font-size: 1.2em;
    background: none;
    border: none;
    color: #ffe600;
    cursor: pointer;
    transition: color 0.3s ease;
    &:last-child {
      color: #666;
    }

    &:focus {
      outline: none;
    }
  }
}

.toggle-control {
  position: relative;
  padding: 0 4px;
  display: flex;
  align-items: center;
}

input[type='checkbox'].dmcheck {
  width: 40px;
  height: 10px;
  background: #555;
  position: relative;
  border-radius: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  vertical-align: 2px;
  outline: none;

  &:checked + label {
    left: 30px;
  }

  &:focus-visible {
    outline: solid 2px white;
  }

  & + label {
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    transition: all 0.3s ease;
    cursor: pointer;
    position: absolute;
    left: 2px;
    background: #fff;
    opacity: 0.9;
    background-color: #f6f6f6;
  }
}


.container {
  width: 100%;
  padding: 0 20px;

  @include mq('tablet', min) {
    width: 768px;
    margin: 0 auto;
    padding: 0;
  }

  @include mq('desktop', min) {
    width: 1248px;
  }
}


