.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;

  .logo {
    
    @include mq('tablet', min) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    img {
      margin-right: 20px;
    }

    h1 {
      display: none;

      @include mq('tablet', min) {
        display: block;
      }
    }
  }

  .settings {
    cursor: pointer;

    svg {
      max-width: 30px;
    }
  }
}
